div{
 /*border: solid 1px red;*/
}

*{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  box-sizing: border-box;
}

body{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
    font-size: 35px;
    margin: 160px 15% 50px 15%;
    color: white;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}


h1{
    font-size: 35px;
    margin: 160px 15% 50px 15%;
    color: white;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

.input-group{
  background-color: black;
  opacity: 0.6;
  width: 100%;
  color: white;
  display: flex;
  padding: 10px 15% ;
}

input[type="text"] {
  height: 60px;
  font-size: 30px;
  border: none;
  outline: none;
  color: #555;
  padding: 7px 0px;
  background: none;
  font-family: 'Playfair Display', serif;
  font-weight: 400;

}
.btn-toolbar{
  width: 70%;
  margin: auto;
}

button{
  background-color: black;
  opacity: 0.6;
  border: none;
  font-size: 25px;
  color: white;
  margin: 10px 0px;
  width: 50px;
  height: 50px;
}

button:hover {
  opacity: 1;
}

.results{
  display: none;
  width: 70%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}
table{
  min-width: 190px;
}

table,tr,td{
  background-color: white;
  font-size: 20px;
  line-height: 35px;
  border: 1px solid black;
  margin-right: 20px;
}

td{
  padding: 4px 10px;
  width: 100%;
}

